extends layout.pug

block content
  section#content
    h2 Welcome!

//
  ### Teamtreehouse: Flashcard
  - `filename`: index.pug
  - `stack` : Node.js, Express
  - `description` : Team Treehouse Practice.  Use Node.js, and express to create a flashcard app
  - `code` : 6428
  - `author` : jcruzaxaeon




//
  version 1
  doctype html
  html(lang="en")
    head
      title Axaeon
    body
      h1 Axaeon Workshop
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.